<app-admin-header></app-admin-header>
<div class="container">
    <main>
        <div class="triangle1">
            <div class="trapezoid1">
                <div class="img-admin"></div>
            </div>
            <div class="triangle2"></div>
            <div class="admin-triangle"></div>
            <div class="admin-data">
                <h3 class="fullname-admin">Андрій Фоменко</h3>
                <p>E-mail: <span class="email">fomenko@gmail.com</span></p>
                <p>Спеціальність: <span class="specialization">Інженерія ПЗ</span></p>
                <p>Посада: <span class="position">доцент</span></p>
                <button type="submit" class="edit-btn">Змінити</button>
                <button type="submit" class="exit-btn" (click)="goToAuthorization()">Вийти</button>
            </div>
        </div>
        <div class="statistics">
            <h3>Статистика користувачів</h3>
            <div class="grid">
                <p>Кількість виконаних завдань</p>
                <span class="count-done-tasks">2</span>
                <p>Загальний час виконання завдань (хв)</p>
                <span class="full-time-tasks">8</span>
                <p>Середня оцінка</p>
                <span class="average-mark">10</span>
                <p>Середній час (хв)</p>
                <span class="average-time">4</span>
            </div>
        </div>
    </main>
    <div class="bubbles"></div>
</div>


