<app-admin-header></app-admin-header>
<div class="container">
    <main>
        <div class="triangle">
            <div class="trapezoid1">
                <div class="img-admin"></div>
            </div>
            <div class="triangle2"></div>
            <div class="admin-triangle"></div>
            <div class="admin-data">
                <h3 class="fullname-admin">Name Surname</h3>
                <p>E-mail: <span class="email">asasasasasasasasaasaasassasasa</span></p>
                <p>Спеціальність: <span class="specialization">Wwdwfwdwdwd fwfwrw</span></p>
                <p>Посада: <span class="position">qwewewew</span></p>
                <button type="submit" class="edit-btn">Змінити</button>
                <button type="submit" class="exit-btn">Вийти</button>
            </div>
        </div>
        <div class="statistics">
            <h3>Статистика користувачів</h3>
            <div class="grid">
                <p>Кількість виконаних завдань</p>
                <span class="count-done-tasks">2</span>
                <p>Загальний час виконання завдань</p>
                <span class="full-time-tasks">2</span>
                <p>Середня оцінка</p>
                <span class="average-mark">2</span>
                <p>Середній час</p>
                <span class="average-time">2</span>
            </div>
        </div>
    </main>
    <div class="bubbles"></div>
</div>


