@import "../../assets/colors"

.web-header
  height: 60px
  background-color: $header-color
  color: $header-text-color
  display: flex
  justify-content: space-between
  padding: 10px 15%

img
  width: 40px

.profile:hover, .main:hover
  cursor: pointer

.profile
  display: flex

ul
  list-style: none

li
  margin-top: 10px
  font-family: "Montserrat"
  font-weight: 700

.profile-link
  margin-left: 10px


