@import "../../../assets/colors"

.container
  height: 100vh
  font-family: 'Montserrat'
  font-weight: 500
  .container3
    display: flex
    height: calc(100vh - 65px)
    .vars
      width: 30%
      background-color: $auth-div-data-background-color
    .container2
      width: 70%
      height: calc(100vh - 65px)
      .task
        height: 28%
        background-color: $user-cards-color
      .results
        height: 72%
        background-color: $user-main-background-color

  .varItem
    border: 2px solid #2F265D
    background-color: $header-text-color
    margin: 5px 0
    display: table

  .varItem:first-of-type
    margin: 0

  .res-box
    width: 60%
    margin: auto
    .resText
      color: $white-color

  .resList
    height: 200px
    border: 1px solid #2F265D
