<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authorization</title>
</head>
<body>
    <div class="container">
        <div class="h-50"></div>
        <div class="bg-img"></div>
        <div class="data">
            <h1>Вхід у ваш <br>профіль</h1>
            <div class="formOur">
                <label for="email">Електронна пошта</label>
                <br>
                <input type="text" id="email" placeholder="Email Address" [(ngModel)]="login">
                <br>
                <label for="password">Пароль</label>
                <br>
                <input type="password" id="password" [(ngModel)]="pass">
                <br>
                <button type="submit" class="submit" (click)="loginToSystem()">Увійти</button>
            </div>
        </div>
    </div>
</body>
</html>
