<div class="container">
  <app-header></app-header>
  <div class="content">
    <div class="first-row">
      <div class="card" (click)="goToUserQuestionList()">
        <img src="../../../assets/images/icon.svg" alt="">
        <h3>Аналіз вимог</h3>
        <p>Протестуй свої навички за допомогою нашого тесту </p>
        <a routerLink="/uwork">Вперед</a>
      </div>
      <div class="card">
        <img src="../../../assets/images/icon.svg" alt="">
        <h3>Проектування</h3>
        <p>Протестуй свої навички за допомогою нашого тесту </p>
        <a routerLink="/umain">Вперед</a>
      </div>
      <div class="card">
        <img src="../../../assets/images/icon.svg" alt="">
        <h3>Кодування</h3>
        <p>Протестуй свої навички за допомогою нашого тесту </p>
        <a routerLink="/umain">Вперед</a>
      </div>
    </div>
    <div class="second-row">
      <div class="card">
        <img src="../../../assets/images/icon.svg" alt="">
        <h3>Тестування</h3>
        <p>Протестуй свої навички за допомогою нашого тесту </p>
        <a routerLink="/umain">Вперед</a>
      </div>
      <div class="card">
        <img src="../../../assets/images/icon.svg" alt="">
        <h3>Дизайн</h3>
        <p>Протестуй свої навички за допомогою нашого тесту </p>
        <a routerLink="/umain">Вперед</a>
      </div>
      <div class="card">
        <img src="../../../assets/images/icon.svg" alt="">
        <h3>Інтегрування</h3>
        <p>Протестуй свої навички за допомогою нашого тесту </p>
        <a routerLink="/umain">Вперед</a>
      </div>
    </div>
  </div>
</div>

