<app-admin-header></app-admin-header>
<div class="container">
    <img class="first-bubble" src="../../../assets/images/bubbles.svg" alt="">
    <img class="second-bubble" src="../../../assets/images/left-bubles.svg" alt="">
    <div class="content">
        <div class="content-text">
            <h2>Перелік завдань</h2>
            <button class="add-task">Додати нове завдання</button>
        </div>
        <div class="tasks-box">
            <img src="../../../assets/images/awork.png" alt="">
        </div>
    </div>
</div>


