$user-main-background-color: #006857
$admin-main-background-color: #A390B4
$user-cards-color: #01342D
$admin-cards-color: #2F265D
$header-color: #031019
$header-text-color: #4F6E9C
$white-color: #FFFFFF
$icon-color: #7B62A3
$user-cards-text-color: #bfbfbf
$link-cards-color: #8E76FF
$auth-div-background-color: #4F6E9C
$auth-div-data-background-color: #005371
$auth-input-color: #858585
$auth-button-background-color: #7B62A3
$user-profile-background-color: #563C85
$user-profile-color: #A490B5
$admin-profile-color: #010234
$user-work-border-color: #A391B2
$user-work-button-background: #3F6D8E
$user-work-btn-background: #7459A0
