$user-main-background-color: #006857
$user-cards-color: #01342D
$header-color: #031019
$header-text-color: #4F6E9C
$white-color: #FFFFFF
$icon-color: #7B62A3
$user-cards-text-color: #bfbfbf
$link-cards-color: #8E76FF


