<app-header></app-header>
<div class="containerMy">
    <img class="first-bubble" src="../../../assets/images/bubbles.svg" alt="">
    <img class="second-bubble" src="../../../assets/images/left-bubles.svg" alt="">
    <div class="content">
        <h2>Перелік завдань</h2>
        <div class="tasks-box" *ngFor="let el of questionList">
            <div class="task" (click)="goToUserWorkPage(el.questionId)">
                <div class="task-text">
                    <h3>Завдання:   {{el.questionName}}</h3>
                    <p>Протестуй свої навички за допомогою нашого тесту </p>
                </div>
                <img src="../../../assets/images/expected-taks.png" alt="" *ngIf="!el.isDone">
                <img src="../../../assets/images/done-task.png" alt="" *ngIf="el.isDone">
            </div>
        </div>
    </div>
</div>


<!--<img src="../../../assets/images/expected-taks.png" alt="">-->
<!--<img src="../../../assets/images/done-task.png" alt="">-->

