<app-header></app-header>
<div class="container">
    <main>
        <div class="triangle">
            <div class="trapezoid1">
                <div class="img-user"></div>
            </div>
            <div class="triangle2"></div>
            <div class="user-triangle"></div>
            <div class="user-data">
                <h3 class="fullname-user">Михайло Керита</h3>
                <p>E-mail: <span class="email">keryta@gmail.com</span></p>
                <p>Спеціальність: <span class="specialization">Інженерія ПЗ</span></p>
                <p>Курс: <span class="course">4</span></p>
                <button type="submit" class="edit-btn">Змінити</button>
                <button type="submit" class="exit-btn" (click)="goToAuthorization()">Вийти</button>
            </div>
        </div>
        <div class="statistics">
            <h3>Статистика</h3>
            <div class="grid">
                <p>Кількість виконаних завдань</p>
                <span class="count-done-tasks">{{totalQ}}</span>
                <p>Загальний час виконання завдань (хв)</p>
                <span class="full-time-tasks">8</span>
                <p>Середня оцінка</p>
                <span class="average-mark">100</span>
                <p>Середній час (хв)</p>
                <span class="average-time">4</span>
            </div>
        </div>
    </main>
    <div class="bubbles"></div>
</div>

